<footer class="footer">
    <div class="container">
      <p>&copy; 2025 Chandrika Portfolio | All rights reserved</p>
    </div>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/sai-chandrika-sangineedi-b6b542204/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/chandrika3105" target="_blank" class="social-icon">
        <i class="fab fa-github"></i></a>
      <a href="https://instagram.com/srichandrika31" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i></a>
    </div>
</footer>
  