<!-- <div class="about-container">
    <h1 class="section-title">About Me</h1>
    <p class="about-description">
        🚀 Full Stack Developer | 💻 Skilled in Angular, .NET Core, Python & Java | 🏢 1+ Years at Accenture | 🌐 Azure Certified | 🧠 Passionate about Competitive Programming & Problem Solving | 🔍 Open to New Opportunities  
    </p>

    <a href="assets/Chandrika_Sangineedi.pdf" download class="button button--flex">
        Download CV
        <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 16c-.41 0-.75-.34-.75-.75V5.75a.75.75 0 011.5 0v9.5c0 .41-.34.75-.75.75zM12 18c-.28 0-.53-.15-.67-.39l-3-5a.75.75 0 111.34-.72L12 16.18l2.33-4.29a.75.75 0 011.34.72l-3 5c-.14.24-.39.39-.67.39z" fill="var(--container-color)"></path>
            <path d="M20 18.25H4a.75.75 0 010-1.5h16a.75.75 0 010 1.5z" fill="var(--container-color)"></path>
        </svg>
    </a>
    
</div> -->

<section id="about">
    <div class="about-container">
        <h1 class="section-title">About Me</h1>
    <p class="about-description">
        🚀 Full Stack Developer | 💻 Skilled in Angular, .NET Core, Python & Java | 🏢 1+ Years at Accenture | 🌐 Azure Certified | 🧠 Passionate about Competitive Programming & Problem Solving | 🔍 Open to New Opportunities  
    </p>

    <a href="assets/Chandrika_Sangineedi.pdf" download class="button button--flex">
        Download CV
        <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 16c-.41 0-.75-.34-.75-.75V5.75a.75.75 0 011.5 0v9.5c0 .41-.34.75-.75.75zM12 18c-.28 0-.53-.15-.67-.39l-3-5a.75.75 0 111.34-.72L12 16.18l2.33-4.29a.75.75 0 011.34.72l-3 5c-.14.24-.39.39-.67.39z" fill="var(--container-color)"></path>
            <path d="M20 18.25H4a.75.75 0 010-1.5h16a.75.75 0 010 1.5z" fill="var(--container-color)"></path>
        </svg>
    </a>
    </div>

</section>
