<section id="experience">
    <div class="experience-container">
        <h2 style="text-align: center !important;">Experience</h2>
          <h3>Accenture</h3>
          <p class="role">Full Stack Developer</p>
          <p class="duration">July 2023 - Present | Hyderabad, India</p>
          <ul class="achievements">
            <li>🔍 Developed internal projects for Asset and Resource Management.</li>
            <li>🚀 Built .NET Core batch jobs to automate processes and send notifications.</li>
            <li>⚡ Gained proficiency in Angular by developing interactive screens.</li>
            <li>💾 Managed and optimized MySQL databases efficiently.</li>
            <li>🔗 Maintained version control using Git for smooth collaboration.</li>
            <li>🤝 Assisted teammates to achieve project goals on time.</li>
          </ul>
      </div>
</section>

  