<section id="experience">
  <div class="experience-container">
      <h2 style="text-align: center !important;">Projects</h2>
        <h3> Music Recommendation System | Python, OpenCV</h3>
        <p class="role"><a href="https://github.com/chandrika3105/Emotion-Based-Music-Recommendation">Check on GitHub</a></p>
        <ul class="achievements">
          <li>⭐Implemented facial emotion recognition using deep learning to analyze real-time expressions.</li>
          <li>⭐Integrated Spotify API to suggest personalized playlists based on detected emotions.</li>
          <li>⭐Enhanced user experience by automating music selection based on emotional state.</li>
        </ul>

        <h3>Heart Disease Prediction System | Python, Numpy</h3>
        <p class="role"><a href="https://github.com/chandrika3105/HeartDiseasePrediction-WebApp-On-Heroku">Check on GitHub</a></p>
        <ul class="achievements">
          <li>⭐Implemented a heart disease prediction system using machine learning.</li>
          <li>⭐Used Logistic regression as the machine learning model and achieved 90% accuracy and developed a web app</li>
        </ul>
    </div>
</section>







