<div class="contact-container">
    <h2 style="text-align: center;">Contact Me</h2>
  
    <div class="contact-content">
      <!-- Contact Details Section -->
      <div class="contact-details">
        <div class="contact-item">
          <h3>📧 Email</h3>
          <p>chandrikaa3105&#64;gmail.com</p>
          <a href="mailto:chandrikaa3105&#64;gmail.com" class="contact-link">Write</a>
        </div>  
        <div class="contact-item">
          <h3>📨 Telegram</h3>
          <p>t.me/Anonymous3105446</p>
          <a href="https://t.me/Anonymous3105446" target="_blank" class="contact-link">Write</a>
        </div>
      </div>
  
      <!-- Contact Form Section -->
      <!-- <div class="contact-form">
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <input type="text" name="name" placeholder="Your Name" required ngModel />
          <input type="email" name="email" placeholder="Your Email" required ngModel />
          <textarea name="message" placeholder="Your Message" required ngModel></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div> -->
    </div>
  </div>
  